/.idea
/app/config/config.db.ini
/app/config/roles.ini
/app/config/settings.ini
/app/config/settings.prod.ini
/bin
/build
**/*.sqlite
/vendor
composer.phar
pimple.json
/ssmtp.conf
.env.prod
swagger.json
